<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a></h2>
      <p>
        <a href="http://golang.org">Go</a> adalah
        bahasa pemrograman open source yang didesain untuk
        membangun software secara sederhana, cepat, and handal.
      </p>

      <p>
        <em>Go by Example</em> adalah pengenalan secara hands-on 
        bagaimana menggunakan Go dengan menggunakan contoh kode yang telah dianotasi. 
        Cobalah <a href="hello-world">contoh pertama</a> atau
        contoh-contoh lainnnya di bawah ini.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        by <a href="https://bumi.dev">Bumi Dev</a> | <a href="https://github.com/satriyop/gobyexample">source</a> | <a href="https://github.com/mmcgrana/gobyexample#license">license</a>
      </p>
    </div>
  </body>
</html>
